img {
   margin: 0;
   padding: 0;
   border: none;
   width: auto;
   height: auto;
   max-width: 100%;
}

.h2manage {
   margin-left: 75px;
   margin-bottom: 5px;
}

.imagestiles {
   height: 300px;
   width: 300px;
   border: 2px solid pink;
   border-radius: 30px;
}

.topdivwithtext {
   display: flex;
   position: relative;
   justify-content: space-between;
}

.ratingsDiv {
   display: inline-flex;
}

.fa-solid {
   margin-top: 16px;
   margin-right: 2px;
}

.outerDiv {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   height: 1000px;
   width: 1400px;
   margin-left: 75px;
   margin-top: 50px;
}

.tilesformanage {
   display: flex;
   flex-direction: column;
   height: 400px;
   width: 300px;
   margin-right: 15px;
}

.buttonDiv {
   display: flex;
   height: 25px;
}

.buttonsUpdate {
   margin-right: 10px;
}

.buttonCreate {
   height: 25px;
   margin-right: 1120px;
   background-color: grey;
   color: white;
   font-weight: bold;
}
