.contentDiv {
   width: 1000px;
   margin: 0 auto;
}

h2 {
   font-size: xx-large;
}

h3 {
   font-size: x-large;
}

.cityState {
   font-size: large;
}

.imagesDiv {
   display: flex;
   height: 300px;
   width: 1000px;
}

.leftImage {
   height: 300px;
   width: 490px;
   margin-right: 10px;
   border: 2px pink solid;
}

.rightImages {
   height: 150px;
   width: 250px;
   border: 2px pink solid;
}

.bottomDiv {
   display: flex;
   justify-content: space-between;
}

.rightBottomDiv {
   display: flex;
   flex-direction: column;
   border: 3px pink solid;
   border-radius: 5%;
   width: 325px;
   margin-top: 15px;
}

.topRightBottomDiv {
   display: flex;
   justify-content: space-between;
}

.ratingDiv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.smallDot {
   font-size: 25px;
   margin-right: 10px;
}

.starDiv {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
}

.fa-solid {
   margin-bottom: 17px;
}
