.hidden {
   display: none;
}

.navMainDiv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.navRightSide {
   display: flex;
}

.createSpotDiv {
   margin-right: 20px;
}

.loginDiv {
   padding-right: 150px;
}
