.hidden {
   display: none;
}

.navMainDiv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 10px;
   border-bottom: 1px solid grey;
}

.navRightSide {
   display: flex;
}

.airbnblogo {
   width: 50px;
   margin-left: 150px;
}

.createSpotDiv {
   margin-right: 20px;
   margin-top: 15px;
}

.loginDiv {
   padding-right: 150px;
   margin-top: 15px;
}
